<!-- templates/home.html -->
{% extends 'base_site.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li
            {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<center>
<table>
    <tr>
        <td></td>
    </tr>
    {% if api_key_saved %}
    <tr>
        <td>Your API Key-Secret are saved. <a href="/binance/keys/"><b>Change Here.</b></a></td>
        <td><a href="/binance/buy/"><b>Place Buy Order Here.</b></a></td>
        <td><a href="/binance/sell/"><b>Place Sell Order Here.</b></a></td>
    </tr>
    {% else %}
    <tr><td>
            Your API Key-Secret are not saved. <a href="/binance/keys/">Save Now!</a>
        </td>
    </tr>
    {% endif %}
    <tr>
        <td></td>
    </tr>
</table>
</center>
<div id="content-main">
    <div class="app-{{ app.app_label }} module">
        <center>
<table>
    {% if 0 != orders.count %}
    <caption>
        <center>Open Orders</center>
    </caption>
    <tr>
    {% for key in orders.0 %}
        {% if 'orderListId' != key and 'clientOrderId' != key %}
    <td><b>{{ key.upper }}</b></td>
        {% endif %}
    {% endfor %}
    </tr>
    {% endif %}
    {% for order in orders %}
    <tr>
        {% for key,val in order.items %}
        {% if 'orderListId' != key and 'clientOrderId' != key %}
        <td>{{ val }}</td>
        {% endif %}
        {% endfor %}
        <td><a href="/binance/cancel/?order_id={{order.orderId}}&symbol={{order.symbol}}">Cancel Order</a></td>
    </tr>
    {% endfor %}
</table>
            </center>
    </div>
</div>
{% endblock %}