{% extends 'base_site.html' %}
{% block title %}Trade Sell{% endblock %}
{% block content %}
<div class="breadcrumbs">
    <center>SELL ORDER</center>
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li
            {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<center>
    <div class="state">
        Ticker Price:
        <span class="users">?</span>
    </div>
</center>

<form method="POST">
    {% csrf_token %}
    <center>
        <table>
            <tr>
                <td></td>
            </tr>
            {{ form.as_table }}
        </table>
        <table>
            <tr>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </center>
</form>
<script>
    var users = document.querySelector('.users'),
    symbol = document.querySelector("#id_symbol"),
    ws = new WebSocket("wss://stream.binance.com:9443/ws/" + symbol.value.toLowerCase() + "@bookTicker");
    ws.onmessage = function (event) {
        data = JSON.parse(event.data);
        users.textContent = data.a;
    };
    document.getElementById('id_symbol').onchange = function() {
        ws.close();
        ws = new WebSocket("wss://stream.binance.com:9443/ws/" + symbol.value.toLowerCase() + "@bookTicker");
        ws.onmessage = function (event) {
            data = JSON.parse(event.data);
            users.textContent = data.a;
        };
    };
    document.getElementById('id_type').onchange = function() {
        document.getElementById('id_price').disabled = this.value == 'MARKET';
        document.getElementById('id_price').required = this.value == 'LIMIT';
    };

</script>
{% endblock %}
